@model IEnumerable<Route.Domain.Model.Person>

@{
    ViewData["Title"] = "Lista de Pessoas";
}

<br /><br />
<div class="row d-flex justify-content-center text-center">
     <h1>Pessoas Cadastradas</h1></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
            <a asp-action="Create">Cadastrar</a>
        </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
              
                @if(item.Status == false){
                   <p>Disponível</p>
                }else{
                   <p>Indisponível</p>
                }
                
            </td>
          
            <td>
                  <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |  
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
